# Dependency directories
node_modules/

# Build outputs
dist/
build/

# Coverage directory
coverage/

# Logs
logs/
*.log

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System Files
.DS_Store
Thumbs.db
